
body{
    font-family: 'Itim';
}
.btn{
    background-color: #1cc51c;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer; 
}
.btn:hover{
    background-color: #0ebb0e;
}
input[type="text"], input[type="date"], input[type="radio"], input[type="password"]{
    border: 0px;
    position: relative;
    left: calc(100% - 5px);
}
.gender{
    position: relative;
    left: calc(100% - 2px);   
}
span{
    font-size: 13px;
    position: relative;
    left: calc(100% - 2px);   
}

nav{
    display: grid;
    place-items: center;
    margin-top: 10px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}
nav li{
    padding: 0 10px;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav .btnLogout{
    background:#f9c002;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

table .btnEdit{
    background: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: absolute; 
    right: 130px; 
    bottom: 20px;
}

table .btnCancel{
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: absolute; 
    right: 60px; 
    bottom: 20px;
}

nav .btnLogout:hover{
    background:#eeb808;
}

table .btnEdit:hover{
    background: rgb(209, 3, 3);
}

.dashboard .api{
    float: left;
}

.dashboard .dashboard-menu{
    float: right;
}

.dashboard .dashboard-menu .dashboard-side{
    background-color: #015fcc;
    height: 60vh;
    color: #fff;
    border-radius: 5px;
    box-shadow: -10px 15px 10px #888;
    position: relative;
}

.dashboard .dashboard-menu .menu{
    background-color: #2187fd;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 10px #000;
    z-index: 100;
}

.dashboard .dashboard-menu .menu a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
}

.dashboard .dashboard-menu .menu .active, .dashboard .dashboard-menu .menu a:hover{ 
    color: white;
}

.btnAdd{
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
